@font-face {
  font-family: "Press Start 2P";
  src: url(./font/PressStart2P-Regular.eot),
       url(./font/PressStart2P-Regular.eot#iefix) format('embedded-opentype'),
       url(./font/PressStart2P-Regular.ttf) format('truetype'),
       url(./font/PressStart2P-Regular.svg) format('svg'),
       url(./font/PressStart2P-Regular.woff) format('woff')
}

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #222;

  font-family: Arial, sans-serif;
}

a {
  color: #00DDAA;
  text-decoration: none;

  transition: 0.3s color;
}

a:hover {
  color: #00FFAA;
}

h1 {
  font-family: "Press Start 2P";
  font-size: 20pt;
}

img {
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 500px;

  color: #EEE;
  background-color: #111;
}

header {
  font-size: 18pt;

  text-align: center;
  padding: 30px 15px;

  background-color: #003311;
}

#mainCanvas {
  width: 100%;
}

footer {
  font-size: 10pt;

  padding: 30px 15px;
  text-align: center;
}